<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Vou 2</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
       <input type="text" v-model="name">
       <p>{{ name }}</p>
       <p v-if="name.length > 6">Ist sicher</p>
       <p v-else-if="name.length < 6 ">Ist nicht sicher</p>
       <p v-else>Länge ist 6</p>
    </div>

<script src="app.js"></script>
</body>
</html>